.logo{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-name{

        color: rgb(19, 227, 210);
        text-align: center;


}

.body{
 background-image: url(./images/cosmos.jpg) ;

}

.header {
    background-image: radial-gradient( ellipse at center, rgb(0, 0, 0), rgb(19, 30, 31));
    height: 100px;
}

.pages {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.page-link {
    font-size: 44px;
    color: rgb(209, 200, 27);
    transition: all 1s;
    display: block;
    
}

.text{
    color: rgb(248, 248, 135);
    text-align: center;
}